# Ignore vscode folder and files
.vscode

# Ignore python environment files
.venv
typings
requirements.txt

# Ignore compiled files
*.exe
*.h.gch
*.h.pch
*.out
*.o

# Ignore any test main files.
main.cpp
main.*
main

# Ignore intermediate files.
configs.txt
others.txt
proxies.txt
auto_config.txt
auto_proxy.txt

# Ignore session
session.session
session.session-journal